.home-wrapper {
    min-height: calc(100vh - 64px);
    display: flex;
  }
  .home-wrapper > div {
    min-height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  
  .description h1 span {
    color: #4169e1;
  }
  .description p {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .image-wrapper img {
    width: 100%;
  }
  
  .btn-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
  }
  .btn-wrapper button {
    color: #fff;
    background-color: #4169e1;
  }
  
  @media screen and (max-width: 768px) {
    .home-wrapper {
      flex-direction: column;
    }
    .home-wrapper > div {
      padding: 4rem 2rem;
    }
  }