.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 48px 64px;
}

.cards-wrapper .v-card {
  margin: 0 !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay v-progress-circular {
  z-index: 1000;
}
.search-addBook-wrapper {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin-top: 1rem;
  gap: 1rem;
}

.search-wrapper {
  flex: 1 2 450px;
}
.search {
  --input-bg: #fff;
  --padding: 1.5em;
  --rotate: 80deg;
  --gap: 2em;
  --icon-change-color: #15a986;
  --height: 40px;
  max-width: 400px;
  padding-inline-end: 1em;
  background: var(--input-bg);
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #bfbebe;
}

.search label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}

.search input {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}
.search svg {
  color: #111;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  height: 15px;
}
/* search icon */
.icon {
  position: absolute;
  left: var(--padding);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* arrow-icon*/
.swap-off {
  transform: rotate(-80deg);
  opacity: 0;
  visibility: hidden;
}
/* close button */
.close-btn {
  /* removing default bg of button */
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.search input:focus ~ .icon {
  transform: rotate(var(--rotate)) scale(1.3);
}

.search input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}

.search input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.search input:valid ~ .icon {
  transform: scale(1.3) rotate(var(--rotate));
}

.search input:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}

.search input:valid ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.search input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}
